name: release

on:
  push:
    branches:
      - "master"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: false

jobs:
  # sleep some time before we build packages
  # channel may still processing newly uploaded package
  # give they some time,
  # so rattler-build can see packages in repodata.json
  sleep:
    runs-on: "ubuntu-24.04"
    steps:
      - run: sleep 60

  conda:
    needs: sleep
    uses: ./.github/workflows/_build_conda.yaml

  upload-conda:
    name: Upload packages to Conda
    needs: [conda]
    permissions:
      id-token: write
    runs-on: ubuntu-24.04
    steps:
      - uses: jaxxstorm/action-install-gh-release@6096f2a2bbfee498ced520b6922ac2c06e990ed2 # v2.1.0
        with:
          repo: prefix-dev/rattler-build
          tag: "v0.57.1"

      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          pattern: conda-*
          path: dist
          merge-multiple: true

      - run: |
          find ./dist/ -type f -name '*.conda' -print0 | xargs -r0 rattler-build upload prefix -c bit-torrent
